page-home {
  .toolbar-background-md {
    background-color: map-get($colors, primary ) !important;
  }

  .toolbar-title-md {
    color: map-get($colors, word ) !important;
  }

  .bar-button-default-md {
    color: map-get($colors, word ) !important;
  }
}
